@font-face {
  font-family: 'vampire';
  font-style: normal;
  font-weight: 400;
  src:
    url(../media/PERCTEXT.TTF) format('woff');
}

.dot {
  height: 7px;
  width: 6px;
  background-color: #000;
  border: 1px solid #000;
  border-radius: 50%;
  display: inline-block;
  margin-right: 1px;
  vertical-align: middle;
}

.bloodpool, .willpower {
  .edit-buttons, p {
    text-align: center;
  }
}

.checkmark, .checkmark-0 {
  position: absolute;
  top: 0;
  left: 0;
  height: 17px;
  width: 17px;
  border: 1px solid black;
  background-color: #fff;
}

.checkmark-1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 17px;
  width: 17px;
  border: 1px solid black;
  background-color: #fff;

  &:before {
    content: "";
    position: absolute;
    display: block;
    left: 5px;
    bottom: 6px;
    width: 18px;
    height: 18px;
    border: solid black;
    border-width: 0 0 0 2px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

.checkmark-2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 17px;
  width: 17px;
  border: 1px solid black;
  background-color: #fff;

  &:before {
    content: "";
    position: absolute;
    display: block;
    left: 5px;
    bottom: 6px;
    width: 18px;
    height: 18px;
    border: solid black;
    border-width: 0 0 0 2px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  &:after {
    content: "";
    position: absolute;
    display: block;
    left: 5px;
    top: 6px;
    width: 18px;
    height: 18px;
    border: solid black;
    border-width: 0 0 0 2px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.checkboxField {
  position: relative;
  width: 18px;
    height: 18px;
}

.checkboxes{
  width: 220px;
  margin: 0 auto 10px;
  
  .check-container {
    display: inline-block;
    position: relative;
    width: 18px;
    height: 18px;
    padding: 0 2px;
    cursor: pointer;
    user-select: none;
  
    .checkmark.checked::after {
      content: "";
      position: absolute;
      display: block;
      left: 6px;
      top: 2px;
      width: 4px;
      height: 10px;
      border: solid black;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}

input {
  max-width: 100%;
  border: 1px solid #eee;

  &:focus{
    outline-color: #060069;
    outline-width: 1px;
  }
}

button {
  background: #000;
  color: #fff;

  &:focus{
    outline-color: #060069;
    outline-width: 1px;
  }
}

.App {
  margin: 0 auto;
  padding: 4%;
  font-family: 'vampire';
  overflow: hidden;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  display: none;
  text-align: center;

  &.open {
    display: block;
  }

  .logo{
    width:50%;
  }

  .characters-names h3, .npc-names h3 {
    cursor: pointer;
    
  }

  .names-list {
    cursor: pointer;
    max-height: 200px;
    overflow: auto;
    transition: max-height 0.5s;

    div {
      max-height: 20px;
      transition: max-height 0.6s;
    }

    &.hide {
      overflow: hidden;
      box-sizing: border-box;
      max-height: 0;

      div{
        max-height: 0;
      }
    }
  }

  .new-character-menu {
    div{
      cursor: pointer;
    }
  }

  .content {
    min-height: calc(100vh - 120px);
    padding: 30px;
  }

  .footer {
    height: 50px;
  }
}

.character-sheet {
  overflow: auto;
}

.logo {
  margin: 5% auto;
  width: 80%;
}
.main-description {
  column-count: 3;
  column-gap: 2%;

  .description-title {
    .desc-name {
      font-weight: bold;
    }
  }
}

.description-title, .traitsContanier {
  text-transform: capitalize;
}

.main-traits {
  .traitsContanier {
    h2 {
      text-align: center;
      margin: 0.2em;
    }

    .traits-group {
      display: inline-block;
      width: 30.5%;
      vertical-align: top;
      
      &:nth-child(odd) {
        margin: 0 3%;
      }
      
      h3 {
        text-align: center;
        text-transform: capitalize;
        margin: 0.1em;
      }
      
      .edit-buttons {
        border-bottom: 1px solid #ccc;
        text-align: center;

        button {
          width: 20px;
          height: 20px;
          font-size: 14px;
          padding: 2px;
          font-weight: bold;
          margin: 4px 6px;
          font-family: arial;
        }
      }
    }
  }
}

.editables {
  position: fixed;
  height: 100vh;
  top: 0;
  right: 0;
  background: #f5f5f5;
  padding: 5%;

  &.not-fixed{
    position: relative;
    background: none;
    height: auto;
  }

  &.false.close {
    display: none;
  }
}

.details-icon {
  position: fixed;
  right: 10px;
  bottom: 10px;
}

@media screen and (max-width: 520px) {
  .individual-trait {
    margin-bottom: 5px;
    min-height: 36px;
  }
  
  .description-title {
    min-height: 36px;
  }
}